<h1>セラピスト一覧</h1>
<ul>
  <% @therapists.each do |therapist| %>
    <li><%= therapist.name %></li>
    <li><%= therapist.license %></li>
    <li><%= therapist.self_introduction %></li>
  <% end %>
</ul>

<%= paginate @therapists%>